<h1>Welcome to Tweeter!</h1>

<%= render 'new' %>

<% @tweets.each do |tweet| %>
  <li>
  <%= tweet.content %> <br>
  @<%= link_to tweet.user.username, tweet.user%> <br>
  <small><%= tweet.created_at %></small> <br>

  <%= link_to "delete", tweet_path(tweet), method: :delete, class: "btn" if current_user == tweet.user %>
  </li>
<% end %>
