<h2>User Info</h2>
<%=  @user.username %> <br>
<%=  @user.bio %> <br>
<%= link_to "Edit profile", edit_user_path(@user) if current_user == @user %>
<!-- Hide whole thing if User is self -->
<% unless current_user == @user %>
  <!-- Follow -->
  <% unless current_user.following?(@user) %>
    <%= form_for(current_user.active_relationships.build) do |f| %>
      <div><%= hidden_field_tag :followee_id, @user.id %></div>
      <%= f.submit "Follow", class: "btn btn-primary my-button" %>
    <% end %>
  <% end %>
  <!-- Unfollow -->
  <%= link_to 'Unfollow', relationship_path(@user), method: :delete, class: "btn btn-danger" if current_user.following?(@user)%>
<% end %>
